!!!
%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
%script( src="//code.jquery.com/ui/1.10.4/jquery-ui.js" )


%html
	%head
		%title Elfcrusher's Middle Earth Death Match
		%link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
		%link(rel="stylesheet" href="css/styles.css")
		
	%body{ :onload => 'initializePage()' }
		#wrapper
			#header
				%h1 
					Elfcrusher's middle earth death matcH
				%h4 
					%a{ :href => "https://docs.google.com/document/d/131wp5Shbt4EQYmX3ofbRyj7zO5SJ8sL2K047fjzgZaU/edit" }
						Release Notes
			
			#content

			%form#masterform{ :action => '/masterform', :method => "Post"}

				#hero	
					-[["Hero Basics",:hero_basics],["Skills", :skills],["Virtues",:virtues],["Rewards", :rewards],["Gear", :gear],["Stance", :stance],["Hope",:hope]].each do | pair |
						%h3.accordion-heading{ :id => "#{pair[1].downcase}_header" }
							=pair[0]
							%span.accordion-subheading{ :id => "#{pair[1].downcase}_subheader" }
						%div.accordion-div{ :id => pair[1].to_s, :class => 'left-panel settings-panel' }
							= partial pair[1], :layout => false, :locals => { :culture => "Hero" }

				#settings
					-[["Monster", :monster],["Iterations", :iterations],["Setting", :setting],["Official Rules", :rules],["House Rules", :houserules],["Tactics", :tactics]].each do | pair |
						%h3.accordion-heading{ :id => "#{pair[1].downcase}_header" }
							=pair[0]
							%span.accordion-subheading{ :id => "#{pair[1].downcase}_subheader" }
						%div.accordion-div{ :id => pair[1].to_s, :class => 'right-panel settings-panel' }
							= partial pair[1], :layout => false, :locals => { :culture => "Hero" }
				
				#reporting	
					#submit_button				
						= partial :submit_button, :layout => false, :locals => {:title => "Fight!" }
					#output


%script(src="/helpers.js")

			

