-if monster
	%p 
		="Attribute Level: #{monster.attribute_level}"
	%p
		="Hate: #{monster.hate}"
	%p
		="Armor: #{(monster.armor_favoured? ? '<u>' : '')}#{monster.protection[0]} +#{monster.protection[1]}#{(monster.armor_favoured? ? '</u>' : '')}"
	%p
		="Parry: #{monster.parry}"
	%p
		Weapons
		-monster.weapons.size.times do |i|
			-w = monster.weapons[i]
			%p
				%input{ :type => "checkbox", :name => "weapon_#{i}", :checked => true }
					%label{ :title => "#{w[:weapon]}"}
						="#{w[:favoured] ? '<u>' : ''}#{w[:weapon].name}#{w[:favoured] ? '</u>' : ''}  Skill: #{w[:skill]}"

	%p
		Special Abilities
		-monster.abilities.keys.each do |key|
			%p
				%input{ :type => "checkbox", :name => key, :checked => true }
					%label{ :title => monster.abilities[key][:tooltip]}
						=monster.abilities[key][:name]
		-monster.optional_abilities.keys.each do |key|
			%p
				%input{ :type => "checkbox", :name => key, :checked => false }
					%label{ :title => monster.optional_abilities[key][:tooltip]}
						=monster.optional_abilities[key][:name]


